{% extends "base.html" %}

{% block content %}

<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 table-box">
                <table>
                    <thead>
                    <tr>
                        <th colspan="2">URL STATUS CHECKER</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>The table body</td>
                        <td>with two columns</td>
                        <td>{{ result }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


{% endblock %}
