{% extends "base.html" %}

{% block content %}

  <section class="main-content">
    <div class="container">
      {% if error %}
        <div class="alert alert-primary" role="alert">
          {{ error }}
        </div>
      {% endif %}
      <div class="row">
        <div class="col-lg-8 offset-lg-2 table-box">
          <table>
            <thead>
            <tr>
              <th colspan="2">URL STATUS CHECKER</th>
            </tr>
            </thead>
            <tbody>
            {% for url in urls %}
              <tr>
                <td>{{ url }}</td>
                <td><button id="btnNo-{{ forloop.counter }}" class="btn btn-secondary">Click</button></td>
                <td><div id="statusCodeNo-{{ forloop.counter }}"></div></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <script>
      $(document).ready(function () {
          {% for url in urls %}
              $("#btnNo-{{ forloop.counter }}").click(function(){
                  $.ajax({
                      url: "http://localhost:8000/{{ url }}",
                      type: 'GET',
                      success: function(data, textStatus, xhr) {
                          $("#statusCodeNo-{{ forloop.counter }}").text(xhr.status);
                      },
                  });
              });
          {% endfor %}
      });
  </script>


{% endblock %}
